<template>
  <div class="home">
    <interface></interface>
  </div>
</template>

<script>
import Interface from '@/components/Interface'

export default {
  name: 'Home',
  components: {
    Interface
  }
}
</script>
