<template>
  <div class="home">
    <div class="brush">
      <p>Drug indication: </p>
      <select name="indications" ref="indications" id="indications" @change="(v) => refresh(v)">
        <option v-for="(item, index) in indications" :key="index" :value="item">{{ item }}</option>
      </select>
      <p>Starting year: </p>
      <select ref="startDate" @change="(v) => refreshStart(v)">
        <option v-for="(item, index) in years" :key="index" :value="item">{{ item }}</option>
      </select>
      <p>Ending year: </p>
      <select ref="endDate" @change="(v) => refreshEnd(v)">
        <option v-for="(item, index) in years" :key="index" :value="item">{{ item }}</option>
      </select>
    </div>
    <line-chart v-if="loaded" :styles="myStyles"></line-chart>
  </div>
</template>

<script>
import LineChart from '@/components/LineChart'
import drugIndications from '@/services/indications.js'

export default {
  name: 'interface',
  data: () => ({
    chartdata: null,
    selection: null,
    chosenIndication: null,
    startDate: 2001,
    endDate: 2020,
    loaded: true,
  }),
  components: {
    LineChart
  },
  computed: {
    indications () {
      return drugIndications
    },
    years () {
      let labels = []

      for(let i = 2001; i <= 2020; i++) {
        labels.push(i)
      }

      return labels
    },
    myStyles () {
      return {
        height: '300px',
        width: '500px',
        margin: 'auto',
        position: 'relative'
      }
    }
  },
  methods: {
    refresh(value) {
      //TODO change dataset accordingly to the selected item
      console.log(value)
    },
    refreshStart(value) {
      //TODO change dataset accordingly to the selected startDate
      console.log(value)
    },
    refreshEnd(value) {
      //TODO change dataset accordingly to the selected endDate
      console.log(value)
    }
  },
  async mounted () {
    this.selection = document.getElementById("indications"); 
    this.chosenIndication = this.selection.value 
  }
}
</script>

<style lang="scss" scoped>
  .home {
    margin-left: auto;
    margin-right: auto;
    .brush {
      display: inline-flex;

      p, select {
        margin: 5px;
      }
    }
  }
</style>
