<script>
  import { Line } from 'vue-chartjs'

  export default {
    name: 'line-chart',
    extends: Line,
    data: () => ({
      chartdata: null,
      result: null,
      indications: {
        hypertension: {
          labels: [],
          data: []
        },
        diabetes: {
          labels: [],
          data: []
        },
        arthritis: {
          labels: [],
          data: []
        },
      },
      loaded: false
    }),
    props: ['start', 'end', 'chosenIndication', 'options'],
    methods: {
      initializeDates() {
        for(let i = 2002; i <= 2020; i++) {
          this.indications.hypertension.labels.push(i)
          this.indications.diabetes.labels.push(i)
          this.indications.arthritis.labels.push(i)
        }
      }
    },
    async mounted () {
      /*this.chartdata = {
        labels: ['January', 'February', 'March', 'April'],
        datasets: [
          {
            label: 'GitHub Commits',
            backgroundColor: '#f87979',
            data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
          }
        ]
      }*/
      this.initializeDates()
      this.loaded = false
      for(let i = 0; i < this.indications.hypertension.labels.length; i++) {
        let year = this.indications.hypertension.labels[i]
        //console.log('year', year)
        try {
          const data  = await fetch(`https://api.fda.gov/drug/event.json?search=receivedate:[${year}0101+TO+${year}1231]&count=patient.drug.drugindication.exact`)
                              .then( res => res.json())
                              .then( res => { return res })
          console.log('Data', data)
          this.result = data.results
          this.result.forEach( item => {
            if(i === 1)
            console.log(item.term)
            if(item.term.toUpperCase() === 'HYPERTENSION') {
              this.indications.hypertension.data.push(item.count)
              //console.log('ITEM', item)
            }
            else if(item.term.toUpperCase() === 'DIABETES MELLITUS')
              this.indications.diabetes.data.push(item.count)
            else if(item.term.toUpperCase() === 'RHEUMATOID ARTHRITIS')
              this.indications.arthritis.data.push(item.count)
          })
          this.chartdata = {
            labels: this.indications.hypertension.labels,
            datasets: [
              {
                label: 'Hypertension',
                backgroundColor: '##000080',
                data: this.indications.hypertension.data
              },
              {
                label: 'Diabetes Mellitus',
                backgroundColor: '#F08080',
                data: this.indications.diabetes.data
              },
              {
                label: 'Rhumatoïd Arthritis',
                backgroundColor: '#FFFFFF',
                data: this.indications.hypertension.data
              }
            ]
          }
          this.loaded = true
        } catch (e) {
          console.error(e)
        }
      }

      this.renderChart(this.chartdata, { responsive: true })
    },
  }
</script>

<style lang="scss" scoped>

</style>