<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">DRUG ADVERSE EVENTS EXPLORER</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#nav {
  padding: 30px;
  background: linear-gradient(rgba(172, 252, 235, 0.9), rgba(172, 252, 235, 0.9));
  height: 100px;
  align-items: center;
  padding-top: 5%;

  a {
    font-weight: bold;
    color: white;

    &.router-link-exact-active {
      font-weight: bold;
      font-size: 3rem;
      color: white;
      text-decoration: none;
    }
  }
}
</style>
